adal==1.2.1
asn1crypto==0.24.0
astroid==2.2.0
atomicwrites==1.3.0
attrs==18.2.0
boto==2.49.0
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
colorama==0.4.1
coverage==4.5.2
cryptography==2.6.1
dnspython==1.16.0
entrypoints==0.3
flake8==3.7.7
google-auth==1.6.3
idna==2.8
isort==4.3.9
jsonschema==3.0.0
kubernetes==8.0.1
lazy-object-proxy==1.3.1
mccabe==0.6.1
mock==2.0.0
more-itertools==6.0.0
oauthlib==3.0.1
pbr==5.1.3
pluggy==0.9.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
PyJWT==1.7.1
pylint==2.3.0
pyrsistent==0.14.11
pytest==4.3.0
pytest-cov==2.6.1
pytest-mock==1.10.1
pytest-tornado==0.5.0
python-dateutil==2.8.0
PyYAML==5.1
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
tornado==4.5.3
Tornado-JSON==1.3.3
typed-ast==1.3.1
urllib3==1.25
uuid==1.30
websocket-client==0.55.0
wheel
wrapt==1.11.1
